* {
    font-family: 'Barlow Condensed', sans-serif;
}
.card {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 2px 8px 0px #034694;
}

.card-title {
    border-bottom: 2px solid black;
    padding: 5px 0px;
}

.number {
    background-color: #034694;
    color: white;
    border-radius: 3px;
    width: 13%;
}

.card-img-top {
    padding: 15px;
    transition: 0.3s;
}

.card-img-top:hover {
    transition: 0.3s;
    transform: scale(1.1);
}

#navbar {
    font-size: 22px;
}
