.card {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 10px;
    /* box-shadow: 2px 3px 15px 3px blue; */
}

.card-title {
    border-bottom: 3px solid black;
    padding: 5px 0px;
}

.number {
    background-color: blue;
    color: white;
    border-radius: 5px;
    width: 15%;
}

.card-img-top {
    padding: 15px;
    transition: 0.3s;
}

.card-img-top:hover {
    transition: 0.3s;
    transform: scale(1.1);
}